h1 a {
  font-family: 'Lobster';
}

body {
  padding-left: 15px;
}

.page-header {
  background-color: #643a8c;
  margin-top: 0;
  padding: 20px 10px 20px 40px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
  color: #ffffff;
  font-size: 36pt;
  text-decoration: none;
}

.content {
  margin-left: 40px;
}

h1, h2, h3, h4 {
  font-family: 'Lobster', cursive;
}

.date {
  color: #828282;
}

.save {
  float: right;
}

.post-form textarea, .post-form input {
  width: 100%;
}

.top-menu {
  color: white;
  font-size: 26px;
  margin-right: 10px;
  transition: 0.5s;
  cursor: default;
}

.top-menu span {
  color: white;
  transition: 0.5s;
}

.top-menu span:hover {
  color: #e5ccff;
  transition: 0.5s;
  cursor: pointer;
}

.post {
  margin-bottom: 70px;
}

.post h1 {
  color: #643a8c;
}

.post h1 a, .post h1 a:visited {
  color: #643a8c;
}

.right-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-nav p {
  font-size: 18px;
}

.right-nav button {
  font-size: 15px;
}

p {
  margin: 0;
}

.menu-btn {
  cursor: pointer;
  border-radius: 5px;
  background: white;
  border: 1px solid white;
  transition: 0.5s;
}

.menu-btn:hover {
  background: #e5ccff;
  border: 1px solid #e5ccff;
  transition: 0.5s;
}

.menu-btn a {
  text-decoration: none;
  /*background: white;*/
  color: #643a8c;
}

a.top-menu:hover {
  color: white;
}

.post p {
  margin-bottom: 10px;
}
